* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 0;
}
.main-wrapper {
  display: block;
  margin: 0 auto;
  width: 800px;
  min-height: 900px;
  overflow: auto;
  background-color: #cfdbeb;
  border: 1px dotted #333333;
}
.main-info {
  position: relative;
  width: 100%;
  min-height: 150px;
  overflow: auto;
  background-color: #cfdbeb;
}
.info-photo {
  display: block;
  float: left;
  width: 120px;
  height: 160px;
  margin: 20px 0 0 35px;
  border-radius: 20px;
  background: url("../images/photo.jpg");
  transition: background 400ms;
  user-select: none;
}
.info-photo:hover {
  background: url("../images/photo_smiling.jpg");
  transition: background 400ms;
}
.info-nav {
  display: block;
  float: right;
  width: 600px;
}
.info-nav ul {
  margin: 20px 30px;
  display: flex;
  float: right;
  list-style: none;
}
.info-nav li {
  padding: 0px 8px 8px 8px;
  border-bottom: 3px solid transparent;
  transition: border 300ms;
}
.info-nav li:hover {
  border-bottom: 3px solid #27275e;
  cursor: pointer;
  transition: border 300ms;
}
.info-nav a {
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #666666;
  transition: color 300ms;
  background-color: #cfdbeb;
  user-select: none;
}
.info-nav li:hover a {
  color: #27275e;
  transition: color 300ms;
}
.info-name {
  clear: right;
  margin: 0 35px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #27275e;
}
.info-contacts {
  clear: right;
  float: right;
  margin: 10px 35px;
  font-size: 18px;
  font-weight: 900;
  color: #27275e;
}
.clear-fix {
  display: block;
  width: 100%;
  height: 0;
  clear: both;
}
.section-heading {
  clear: right;
  width: 91%;
  margin: 0 35px;
  padding-bottom: 12px;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  text-align: right;
  color: #27275e;
  border-bottom: 4px double #27275e;
}
.section-text {
  clear: right;
  margin: 10px 35px 45px 0;
  float: right;
  width: 90%;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: left;
  color: #202049;
}
.skills-list {
  margin: 10px 35px 45px 0;
  display: flex;
  float: right;
  width: 90%;
  list-style: none;
  flex-wrap: wrap;
}
.skills-list li {
  margin: 10px 8px 10px 8px;
  padding: 5px 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 3px;
  color: #dddddd;
  background: #12123d;
  border-radius: 7px;
  box-shadow: 2px 3px 2px #333333;
  transition: background-color box-shadow 300ms;
}
.skills-list li:hover {
  background-color: #daa520;
  box-shadow: none;
  transition: background-color box-shadow 300ms;
}
.education-list {
  margin: 10px 35px 45px 0;
  float: right;
  width: 90%;
  overflow: auto;
}
.education-list li {
  margin: 8px 0 8px 20px;
  display: list-item;
  font-size: 16px;
  font-weight: 900;
  list-style-type: square;
  color: #27275e;
}
.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 50px 10px 50px;
  min-height: 150px;
  overflow: auto;
}
.portfolio-examples figure {
  margin: 20px;
  transition: transform 300ms;
}
.portfolio-examples figure:hover {
  transform: scale(1.3);
  transition: transform 300ms;
}
.portfolio-examples figcaption {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.portfolio-examples img {
  filter: grayscale(1);
  transition: filter 300ms;
}
.portfolio-examples figure:hover img {
  filter: grayscale(0);
  transition: filter 300ms;
}